<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="PostSharp" version="4.3.21" targetFramework="net452" />
  <package id="PostSharp.Patterns.Common" version="4.3.21" targetFramework="net452" />
  <package id="PostSharp.Patterns.Threading" version="4.3.21" targetFramework="net452" />
</packages>